<app-navigation-bar
  [userType]="userType"
  [userId]="userId"
/>

<h1>CRIAR NOVA SEMANA DE TREINO</h1>

<form [formGroup]="workoutCreationForm">

  <app-primary-input
    formControlName="start_date"
    label="Data de Início"
    placeholder="start_date"
    inputName="start_date"
    type="date"
  ></app-primary-input>

  <app-primary-input
    formControlName="end_date"
    label="Data de Fim"
    placeholder="end_date"
    inputName="end_date"
    type="date"
  ></app-primary-input>

  <app-primary-input
    formControlName="weekly_volume"
    label="Volume de treino semanal (km)"
    placeholder="Ex: 40"
    inputName="weekly_volume"
    type="number"
  ></app-primary-input>

  <app-primary-input
    formControlName="strengthening_workouts"
    label="Quantidade de dias de fortalecimento de membros inferiores (perna)"
    placeholder="Ex: 3"
    inputName="strengthening_workouts"
    type="number"
  ></app-primary-input>

  <app-checkbox-select
    [label]="'Fez Liberação Miofascial?'"
    [options]="miofascial_releases"
    (selectedOptionsChange)="onOptionSelect('didMyofascialRelease', $event)"
  />

  <app-checkbox-select
    [label]="'Nivel de Estresse Semanal (1 = muito baixo, 10 = muito alto)'"
    [options]="stress_levels"
    (selectedOptionsChange)="onOptionSelect('stress_level', $event)"
  />

  <app-checkbox-select
    [label]="'Pensando em uma dieta saudável, qual dos niveis abaixo foi a sua semana?'"
    [options]="diet_levels"
    (selectedOptionsChange)="onOptionSelect('diet_level', $event)"
  />

  <app-primary-input
    formControlName="sleep_hours"
    label="Média semanal de horas de sono"
    placeholder="Ex: 8"
    inputName="sleep_hours"
    type="number"
  ></app-primary-input>

  <app-text-area-field
    formControlName="pain_discomfort"
    label="Houve algum desconforto ou dor nessa semana?"
    placeholder="Ex: Canelite, Dor no joelho..."
    inputName="pain_discomfort"
  />

  <button class="btn-primary" (click)="submit()">SALVAR TREINO</button>
</form>
