<app-navigation-bar
  [userType]="userType"
  [userId]="userId"
/>
<h1>Usuários Ativos</h1>

<div class="container">

  <div class="board-cards">
    <div class="card" *ngFor="let user of users">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <a class="btn btn-primary">Ver Treinos</a>
      </div>
    </div>
  </div>
  
  <ul class="pagination justify-content-center">
    <li class="page-item" *ngFor="let number of list">
      <button type="button" class="page-link" (click)="onChangePage(number)">{{ number }}</button>
    </li>
  </ul>
</div>
