<app-navigation-bar
  [userType]="userType"
  [userId]="userId"
/>

<h1>Usuários Ativos</h1>

<div class="container card-board">
  <div class="cards-board-row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
  </div>

  <div class="cards-board-row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
  </div>

  <div class="cards-board-row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Matheus Robusti Henriques</h5>
        <a href="#" class="btn btn-primary">Ver Atividades</a>
      </div>
    </div>
  </div>
</div>
