@import "../../../styles/variables.scss";
.input-wrapper {

  font-size: 14px;
  text-align: start;

  input {
    color: $grey-color-70;
    border-radius: 8px;
    background-color: $white-color;
    border: none;

    padding: 16px 0 16px 19px;
    width: 100%;
  }

  label {
    color: $white-color;
  }
}
