@import "../../../styles/variables.scss";

form {
  width: 100%;
  margin-bottom: 45px;

  div {
    display: flex;
    flex-direction: column;
    gap: 13px;

    .password_instructions{
      color: $white-color;
      font-size: small;
    }
  }
}
