<h1>RECUPERAÇÃO DE SENHA</h1>

<div class="container div-password" *ngIf="firstStep && !secondStep">
  <p>Informe seu email cadastrado em nosso sistema e enviaremos um codigo para você voltar a acessar a sua conta</p>

  <div class="div-send-email">
    <form [formGroup]="emailForm">
      <app-primary-input
        formControlName="email"
        label="Email Cadastrado"
        placeholder="Email"
        inputName="email"
        type="text"
      />
    </form>
  
    <div class="div-button">
      <button class="btn-primary" (click)="sendEmail()">ENVIAR EMAIL</button>
      <button class="btn-secondary" (click)="back()">VOLTAR</button>
    </div>
  </div>
</div>

<div class="container div-password" *ngIf="!firstStep && secondStep">
  <p>Informe o codigo de 6 digitos enviado em seu email</p>

  <div class="div-send-email">
    <form [formGroup]="codeForm">
      <app-primary-input
        formControlName="code"
        label="Codigo de Recuperação"
        placeholder="XXXXXX"
        inputName="code"
        type="text"
      />
    </form>
  
    <div class="div-button">
      <button class="btn-primary" (click)="verifyCode()">VALIDAR CODIGO</button>
      <button class="btn-secondary" (click)="back()">VOLTAR</button>
    </div>
  </div>
</div>

<div class="container div-password" *ngIf="!firstStep && !secondStep">
  <p>Informe a nova senha</p>

  <div class="div-send-email">
    <form [formGroup]="passwordForm">
      <app-primary-input
        formControlName="password"
        label="Digite a nova senha"
        placeholder="Senha"
        inputName="password"
        type="text"
      />
    </form>
  
    <div class="div-button">
      <button class="btn-primary" (click)="changePassword()">ALTERAR SENHA</button>
      <button class="btn-secondary" (click)="back()">VOLTAR</button>
    </div>
  </div>
</div>