@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import 'ngx-toastr/toastr';
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Montserrat';
  background-color: $black-color !important;
}
