@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import 'ngx-toastr/toastr';
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Montserrat';
}

h1 {
  color: $white-color !important;
  font-size: 18px!important;
  text-align: center;
  justify-content: center;
  padding: 75px 0 40px 0;
}

a {
  color: $white-color !important;
}